@import "../../index.scss";

.ChatBox{
    $top-bar-height:5%;
    $chat-window-height:89vh;
    $form-container-height:6%;
    position:relative;
    bottom:0;
    left:0;
    height:100%;
    display:flex;
    .chat-window{
        width:100%;
        height:$chat-window-height;
        overflow-y:scroll;
        overflow-x:hidden;
        // width:100%;
        .beginning-label{
            font-size: 1.5rem;
            color: black;
            position: relative;
            text-align: center;
            position:relative;
            left:50%;
            transform:translateX(-50%);
        }
        &.squished{
            width:70%;
        }
    }
    
    .questions-menu-button{
        position:absolute;
        bottom:0%;
        right:5%;
        padding:0.7rem;
        font-size:6rem;
        color:white;
        z-index:1000;
        border:1px solid white;
    }

    .questions-container{
        width:0%;
        background-color:grey;
        // transition: width 300ms;
        &.opened{
            width:30%;
        }
    }
    
    .form-container{
        background-color:$background-main;
        position:absolute;
        height:$form-container-height;
        bottom:0;
        left:0;
        display:flex;
        width:100%;
        justify-content:center;
        padding:0.5rem 0;
        .send-box,.send-btn{
            // margin:0.5rem 0;
            font-size:2rem;
        }
        .send-box{
            width:60%;
            background-color:rgb(165, 165, 165);
            border-radius:10px;
            padding:1rem;
            margin-right:1.5rem;
            border:1px solid black;
            &:focus{
                outline:none;
            }
        }
        
        .send-btn{
            margin-left:1.5rem;
            width:10%;
            background-color:$accent-main;
            border:none;
            padding:0.5rem;
            border-radius:10px;
            transition: background-color 300ms;
            &:hover{
                background-color:rgb(135, 159, 184);
            }
        }
    }

    .question-button{
        border:1px solid black;
        width:5%;
        &:focus{
            outline:none;
        }
        .question-icon{

            text-align:center;
            font-size:3rem;
            // padding:1rem 3rem;
            color:white;
        }
        &.on{
            background-color:$accent-main;
        }
        &.off{
            background-color:grey;
        }
    }
}