@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

.Chat {
  background-color: white;
  height: 100vh;
  position: relative;
  overflow: hidden;
  color: white;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}
.Chat .top-bar {
  display: flex;
  width: 100%;
  background-color: #141A46;
  color: white;
  justify-content: space-between;
}
.Chat .top-bar .home-icon {
  position: absolute;
  right: 0;
  font-size: 6rem;
  color: white;
  transition: 300ms;
}
.Chat .top-bar .home-icon:hover {
  color: #EC8B5E;
}
.Chat .top-bar .class-label-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.Chat .top-bar .class-label-container span {
  font-size: 3rem;
  text-align: center;
}
.Chat .top-bar .chat-picker {
  display: flex;
  flex-direction: column;
}
.Chat .top-bar .chat-picker select {
  width: 100%;
}
.Chat .top-bar .chat-picker button {
  font-size: 2rem;
  background-color: #EC8B5E;
  color: black;
  border: 1px solid white;
  margin: 2rem;
  padding: 0.5rem;
}
.Chat .top-bar .sidebar-container {
  text-align: center;
}
.Chat .top-bar .sidebar-container .menu-icon {
  font-size: 6rem;
  color: inherit;
}
.Chat .top-bar .sidebar-container:hover .side-menu {
  left: 0;
}
.Chat .top-bar .sidebar-container:hover .side-menu form {
  display: block;
}
.Chat .top-bar .sidebar-container .side-menu {
  text-align: justify;
  padding: 2rem;
  height: 100vh;
  background-color: #141A46;
  position: absolute;
  z-index: 100;
  box-shadow: -2px 0px 5px black;
  top: 0;
  left: -20vw;
  width: 20vw;
  transition-property: left;
  transition-duration: 300ms;
}
.Chat .top-bar .sidebar-container .side-menu form {
  text-align: center;
  display: none;
}
.Chat .chat-component {
  position: relative;
  bottom: 0;
  left: 0;
  padding: 0 5vw;
  height: 100%;
}
.Chat .chat-component .chat-window {
  height: 80vh;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 80vh;
}
.Chat .chat-component .chat-window .beginning-label {
  font-size: 1.5rem;
  color: black;
  position: relative;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.Chat .chat-component .chat-window .message {
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
  text-align: center;
  width: 100%;
  color: white;
  font-size: 1.6rem;
  padding: 1.2rem;
  margin: 0.2rem 0;
  text-align: left;
  color: black;
}
.Chat .chat-component .chat-window .message img {
  width: 50px;
  height: auto;
  margin-right: 1rem;
}
.Chat .chat-component .chat-window .message:hover {
  background-color: #b8b8b8;
}
.Chat .chat-component .form-container {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  margin-top: 1rem;
  justify-content: center;
}
.Chat .chat-component .form-container input, .Chat .chat-component .form-container button {
  font-size: 2.5rem;
}
.Chat .chat-component .send-box, .Chat .chat-component .send-box:focus-within {
  font-size: 1.5rem;
  flex: 0.6;
  background-color: #a5a5a5;
  border-radius: 30px;
  margin-right: 3rem;
  border: 1px solid black;
}
.Chat .chat-component .send-btn {
  font-size: 1.5rem;
  flex: 0.1;
  background-color: #EC8B5E;
  border: none;
  padding: 0.5rem;
  border-radius: 30px;
  transition: background-color 300ms;
}
.Chat .chat-component .send-btn:hover {
  background-color: #879fb8;
}

@media (max-width: 1000px) {
  .Chat .chat-component {
    padding: 0 2vw;
  }
  .Chat .chat-component .chat-window {
    height: 85vh;
    max-height: 85vh;
  }
  .Chat .chat-component .form-container {
    padding: 0 1rem;
    margin-top: 1rem;
    justify-content: center;
  }
  .Chat .chat-component .form-container input, .Chat .chat-component .form-container button {
    font-size: 1.8rem;
  }
  .Chat .chat-component .send-box, .Chat .chat-component .send-box:focus-within {
    flex: 0.75;
    background-color: #a5a5a5;
    border-radius: 10px;
    margin-right: 0.5rem;
    border: 1px solid black;
  }
  .Chat .chat-component .send-btn {
    flex: 0.25;
    border-radius: 20px;
  }
  .Chat .top-bar .sidebar-container .menu-icon {
    font-size: 4rem;
  }
  .Chat .top-bar .sidebar-container .side-menu {
    left: -90vw;
    width: 90vw;
  }
}