@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

.Chat {
  background-color: white;
  height: 100vh;
  position: relative;
  overflow: hidden;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}
.Chat .top-bar {
  height: 5%;
  display: flex;
  width: 100%;
  background-color: #141A46;
  color: white;
  justify-content: space-between;
}
.Chat .top-bar .home-icon {
  position: absolute;
  right: 0;
  font-size: 5rem;
  color: white;
  transition: 300ms;
}
.Chat .top-bar .home-icon:hover {
  color: #EC8B5E;
}
.Chat .top-bar .class-label-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.Chat .top-bar .class-label-container span {
  font-size: 3.5rem;
  text-align: center;
}
.Chat .top-bar .chat-picker {
  display: flex;
  flex-direction: column;
}
.Chat .top-bar .chat-picker select {
  width: 100%;
}
.Chat .top-bar .chat-picker button {
  font-size: 2rem;
  background-color: #EC8B5E;
  color: black;
  border: 1px solid white;
  margin: 2rem;
  padding: 0.5rem;
}
.Chat .top-bar .sidebar-container {
  text-align: center;
}
.Chat .top-bar .sidebar-container .menu-icon {
  font-size: 5rem;
  color: inherit;
}
.Chat .top-bar .sidebar-container:hover .side-menu {
  left: 0;
}
.Chat .top-bar .sidebar-container:hover .side-menu form {
  display: block;
}
.Chat .top-bar .sidebar-container .side-menu {
  text-align: justify;
  padding: 2rem;
  height: 100%;
  background-color: #141A46;
  position: absolute;
  z-index: 100;
  box-shadow: -2px 0px 5px black;
  top: 0;
  left: -20vw;
  width: 20vw;
  transition-property: left;
  transition-duration: 300ms;
}
.Chat .top-bar .sidebar-container .side-menu form {
  text-align: center;
  display: none;
}

@media (max-width: 1000px) {
  .Chat {
    height: 88vh;
    overflow: hidden;
  }
  .Chat .chat-component {
    overflow: hidden;
  }
  .Chat .chat-component .chat-window {
    height: 77vh;
  }
  .Chat .chat-component .form-container {
    padding: 0 1rem;
    margin-top: 1rem;
    justify-content: center;
  }
  .Chat .chat-component .form-container input, .Chat .chat-component .form-container button {
    font-size: 1.8rem;
  }
  .Chat .chat-component .send-box {
    flex: 0.75;
    margin-right: 0.5rem;
  }
  .Chat .chat-component .send-btn {
    flex: 0.25;
  }
  .Chat .top-bar {
    height: 6vh;
  }
  .Chat .top-bar .sidebar-container .side-menu {
    left: -90vw;
    width: 90vw;
  }
}