@import "../../index.scss";

.Chat{
    background-color:white;
    height:100vh;
    position:relative;
    overflow:hidden;
    color:white;
    max-height:100vh;
    display:flex;
    flex-direction:column;
    .top-bar{
        display:flex;
        // align-items:center;
        width:100%;
        background-color:$background-main;
        color:white;
        // color:$accent-main;
        .class-label-container{
            // display:flex;
            // align-items:center;
            position:absolute;
            top:0;
            left:50%;
            transform:translateX(-50%);
            span{
                // padding:1rem 4rem;
                font-size:3rem;
                text-align:center;
            }
        }
        .chat-picker{
            display:flex;
            flex-direction:column;
            select{
                width:100%;
            }
            button{
                display:none;
            }
        }
        .sidebar-container{
            text-align:center;
            .menu-icon{
                font-size:6rem;
                color:inherit;
            }
            &:hover{
                .side-menu{
                    left:0;
                }
            }
            .side-menu{
                $width:20vw;
                text-align:justify;
                padding:2rem;
                height:100vh;
                background-color:$background-main;
                position:absolute;
                z-index:100;
                box-shadow:-2px 0px 5px black;
                // right:0;
                top:0;
                left:-$width;
                width:$width;
                transition-property:left;
                transition-duration:300ms;
            }
        }
    }
    .chat-component{
        position:relative;
        bottom:0;
        left:0;
        padding:0 5vw;
        height:100%;
        .chat-window{
            display:flex;
            flex-direction:column;
            align-items:flex-start;
            height:80vh;
            height:auto;
            overflow-y:scroll;
            overflow-x:hidden;
            max-height:80vh;
            // width:50%;
            .beginning-label{
                font-size: 1.5rem;
                color: black;
                position: relative;
                text-align: center;
                position:relative;
                left:50%;
                transform:translateX(-50%);
            }
            .message{
                display:flex;
                align-items:center;
                padding:0rem 1rem;
                text-align:center;
                // border-radius:5px;
                width:100%;
                color:white;
                font-size:1.6rem;
                padding:1.2rem;
                margin:0.2rem 0;
                text-align:justify;
                color:black;
                // border-bottom:1px solid grey;
                img{
                    width:50px;
                    height:auto;
                    margin-right:1rem;
                }
                &:hover{
                    background-color:rgb(184, 184, 184);
                }
            }
        }
        .form-container{
            position:absolute;
            bottom:0;
            display:flex;
            width:100%;
            // padding:0 10vw;
            margin-top:1rem;
            justify-content:center;
            input,button{
                font-size:2.5rem;
            }
        }
        
        .send-box,.send-box:focus-within{
            font-size:1.5rem;
            flex:0.6;
            background-color:rgb(165, 165, 165);
            border-radius:30px;
            margin-right:3rem;
            border:1px solid black;
        }
        
        .send-btn{
            font-size:1.5rem;
            flex:0.1;
            background-color:$accent-main;
            border:none;
            padding:0.5rem;
            border-radius:30px;
            transition: background-color 300ms;
        }
        .send-btn:hover{
            background-color:rgb(135, 159, 184);
        }
    }
}
