@import "../../index.scss";

.Chat{
    $top-bar-height:5vh;
    $chat-window-height:89vh;
    $form-container-height:calc(100vh - $top-bar-height - $chat-window-height);
    
    background-color:white;
    height:100vh;
    position:relative;
    overflow:hidden;
    max-height:100vh;
    display:flex;
    flex-direction:column;
    .top-bar{
        height:$top-bar-height;
        display:flex;
        width:100%;
        background-color:$background-main;
        color:white;
        justify-content:space-between;
        .home-icon{
            position:absolute;
            right:0;

            font-size:5rem;
            color:white;
            transition:300ms;
            &:hover{
                color:$accent-main;
            }
        }
        .class-label-container{
            position:absolute;
            top:0;
            left:50%;
            transform:translateX(-50%);
            span{
                font-size:3.5rem;
                text-align:center;
            }
        }
        .chat-picker{
            display:flex;
            flex-direction:column;
            select{
                width:100%;
            }
            button{
                font-size:2rem;
                background-color:$accent-main;
                color:black;
                border:1px solid white;
                margin:2rem;
                padding:0.5rem;
            }
        }
        .sidebar-container{
            text-align:center;
            .menu-icon{
                font-size:5rem;
                color:inherit;
            }
            &:hover{
                .side-menu{
                    left:0;
                    form{
                        display:block;
                    }
                }
            }
            .side-menu{
                $width:20vw;
                text-align:justify;
                padding:2rem;
                height:100vh;
                background-color:$background-main;
                position:absolute;
                z-index:100;
                box-shadow:-2px 0px 5px black;
                top:0;
                left:-$width;
                width:$width;
                transition-property:left;
                transition-duration:300ms;
                form{
                    text-align:center;
                    display:none;
                }
            }
        }
    }
    .chat-component{
        position:relative;
        bottom:0;
        left:0;
        height:100%;
        // padding:0 5vw;
        .chat-window{
            // display:flex;
            // flex-direction:column;
            // align-items:flex-start;
            height:$chat-window-height;
            overflow-y:scroll;
            overflow-x:hidden;
            // max-height:90vh;
            // width:50%;
            width:100%;
            .beginning-label{
                font-size: 1.5rem;
                color: black;
                position: relative;
                text-align: center;
                position:relative;
                left:50%;
                transform:translateX(-50%);
            }
            .message{
                display:flex;
                align-items:center;
                padding:0rem 1rem;
                text-align:center;
                // border-radius:5px;
                width:100%;
                color:white;
                font-size:1.6rem;
                padding:1.2rem 5vw;
                margin:0.2rem 0;
                text-align:left;
                color:black;
                // border-bottom:1px solid grey;
                img{
                    width:50px;
                    height:auto;
                    margin-right:1rem;
                }
                &:hover{
                    background-color:rgb(184, 184, 184);
                }
            }
        }
        
        .form-container{
            background-color:$background-main;
            position:absolute;
            height:$form-container-height;
            bottom:0;
            left:0;
            display:flex;
            width:100%;
            justify-content:center;
            input,button{
                margin:0.5rem 0;
                font-size:2rem;
            }
            .send-box{
                flex:0.6;
                background-color:rgb(165, 165, 165);
                border-radius:10px;
                // margin-right:3rem;
                padding:1rem;
                margin-right:1.5rem;
                border:1px solid black;
                &:focus{
                    outline:none;
                }
            }
            
            .send-btn{
                margin-left:1.5rem;
                flex:0.1;
                background-color:$accent-main;
                border:none;
                padding:0.5rem;
                border-radius:10px;
                transition: background-color 300ms;
                &:hover{
                    background-color:rgb(135, 159, 184);
                }
            }
        }
    }
}

@media (max-width:1000px){
    .Chat{
        .chat-component{
            padding:0 2vw;
            .form-container{
                padding:0 1rem;
                margin-top:1rem;
                justify-content:center;
                input,button{
                    font-size:1.8rem;
                }
            }
            
            .send-box{
                flex:0.75;
                margin-right:0.5rem;
            }
            
            .send-btn{
                flex:0.25;
            }
        }
        .top-bar{
            .sidebar-container{
                .side-menu{
                    $width:90vw;
                    left:-$width;
                    width:$width;
                }
            }
        }
    }
}
